.form-checkbox {
  height: 20px;
  width: 36px;
  background-image: url('../../images/checkbox_unchecked.svg');
  background-size: contain;
  display: inline-block;
}
.form-checkbox_checked {
  background-image: url('../../images/checkbox_checked.svg');
}

.form-checkbox__checkbox {
  display: none;
}
