.page-profile {
  display: flex ;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  flex-grow: 1;
  padding: 0 70px;
}
.page-profile main {
  display: flex ;
  flex-direction: column;
  flex-grow: 1;
}
.page-profile section {
  display: flex;
  flex-direction: column;
  width: 410px;
  margin: 0 auto;
  flex-grow: 1;
  gap: 120px;
  box-sizing: border-box;
  height: 100%;
  padding: 74px 0 70px;
}
.page-profile__title {
  text-align: center;
}
.page-profile__subtitle {
  color: #A0A0A0;
  font-size: 14px;
  display: flex;
  gap: 6px;
  margin: 16px auto 0;
}

.page-profile__form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: 0;
  color: #000;
  font-size: 11px;
  font-weight: 500;
  gap: 16px;
}
.page-profile__form label {
  border-bottom: 1px solid #E8E8E8;
  padding: 0 0 16px;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.page-profile__form input {
  text-align: right;
  font-size: 11px;
  font-weight: 400;
  border: none;
  background-color: #FFF;
  display: block;
  height: 100%;
}
.page-profile__form input:focus {
  outline: 1px #3456F3 solid;
  background-color: rgba(52, 86, 243, 0.1);
  border-radius: 3px;
}
.page-profile__form > label:last-of-type {
  border-bottom: none;
}

.page-profile__actions {
  display: flex;
  gap: 16px;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  font-size: 13px;
  flex-grow: 1;
}
.page-profile__logout {
  color: #FF3055;
  font-weight: 500;
}
.page-profile__logout:visited {
  color: #FF3055;
}
.page-profile__msg {
  display: block;
}
.page-profile__msg_type_error {
  color: #FF3055;
}
.page-profile__msg_type_info {
  color: #000;
}

@media screen and (max-width:1024px) {
  .page-profile {
    padding: 0 30px;
  }
  .page-profile section {
    padding: 23vh 0 26vh;
    gap: 100px;
  }
}
@media screen and (max-width:550px) {
  .page-profile {
    padding: 0 14px;
  }
  .page-profile section {
    width: 100%;
    gap: 80px;
    padding: 9vh 15px 40px;
  }
}
